body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.tabTableFilter {
  @apply px-2;
  @apply border;
  @apply float-right;
  @apply text-base;
  @apply -mt-7;
  @apply w-1/6;
  @apply flex;
}

.tabTableFilter > * {
  @apply my-auto;
  @apply mx-1;
}

.tabTableFilter > input {
  @apply pl-2;
  @apply flex-1;
}

.tabTableFilter > input:focus {
  outline: none;
}

.tabTableFilterDisabled {
  @apply text-slate-300;
}

.tabTableFilterOff {
  @apply tabTableFilterDisabled;
  @apply cursor-pointer;
}

.tabTableFilterOn {
  @apply text-slate-500;
  @apply cursor-pointer;
}

.tabTable {
  @apply w-full;
  @apply mt-8;
  @apply border;
}

.tabTableRow {
  @apply border-b;
}

.inactiveSort {
  @apply text-slate-400;
}

.tabTable > .tabTableRow:hover:not(:first-child) {
  @apply bg-stone-100;
}

.tabTableRow > div {
  @apply text-left;
  @apply text-ellipsis;
  @apply overflow-hidden;
  @apply whitespace-nowrap;
  @apply px-4;
  @apply py-1;
  @apply inline-block;
}

.tabTableHeader {
  @apply text-sm;
  @apply font-bold;
  @apply cursor-pointer;
}

.tabTableHeader > svg {
  @apply ml-1;
}

.tabTableHeader > svg:hover {
  @apply text-black;
}

.tabTableRow > div:nth-child(1), .tabTableRow > div:nth-child(2), .tabTableRow > div:nth-child(3) {
  width: 2%;
  @apply px-0;
  @apply text-center;
}

.tabActionIcon {
  @apply text-slate-500;
  @apply cursor-pointer;
}

.tabActionIcon:hover {
  @apply text-black;
}

.tabDisabledActionIcon {
  @apply text-slate-300;
}

.tabTableRow > div:nth-child(4), .tabTableRow > div:nth-child(5) {
  width: 47%;
}

.tabTableRow:hover > div:nth-child(4), .tabTableRow:hover > div:nth-child(5) {
  @apply font-bold;
}